body{
    padding-bottom: 50px;
}

.picture{
    padding: 10px;
}

.image{
    height: 250px;
    background: midnightblue;
}

.poke{
    font-weight: bold;
}

.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.box{
    border: 1px solid grey;
    height: 350px;
}

/*----- carousel css from here -----*/
.carouselContainer{
    background: royalblue;
    height: 400px;
    position: relative;
}

.carousel{
    position:relative;
    height:400px;
    width: 80%;
    margin: 0 auto;
}

.carousel-slide{
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-slide img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.carousel-btn{
    position: absolute;
    top: 60%;
    cursor: pointer;
}

.carousel-btn-left{
    left: 20px;
    border:none;
    background: none;
    z-index: 1;
}

.carousel-btn-right{
    right: 20px;
    border:none;
    background: none;
    z-index: 1;
}

.carousel-btn img{
    width: 30px;
}

.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0.3);
    margin: 0 12px;
}

.carousel-indicator.current-slide{
    background: rgba(0,0,0,0.6);
}

/*----- carousel css till here -----*/


.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}
